@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.margin{
    margin: 0px 10rem;
}

.padding{
    padding: 0 10em;
}

:root{
    --red: #EE1C25;
    --authorblack:rgba(0, 0, 0, 0.45);
    --white: #fff;
    --black: rgb(32, 30, 30);
    --darkwhite: #F5F5F5;
    --darkred: #A10607;
    --h2: 3.75rem;
    /* --h3:;
    --h4:; */
    --name: 1.125rem;
}


.button{
    padding: .8rem 1.6rem;
    border: none;
    background-color: var(--white);
    color: var(--red);
    font-size: 1rem;
    cursor: pointer;
}


/* -----------------------global declarations end-------------- */




#header-top{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

#header-top>.logo{
    width: 200px;
    height: auto;
    cursor: pointer;
}

#header-top>.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.ad-position-1{
    width: 60rem;
    
    /* height: auto; */
}

.ad-position-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.active{
    background-color: var(--darkred);
}

/* -----------------navigations starts here------------ */

#navigation {
    display: flex;
    background-color: var(--red);
    align-items: center;
    justify-content: space-between;
    height: 4.5rem;
    overflow: hidden;
    position: relative;
    z-index: 999;
}


.overlay{
     position: absolute;
     width: 100%;
     height: 100vh;
     background-color: none;
     top: 100%;
     left: 0;  
     z-index: -1;
     display: none;
     transition: all 1s ease-in-out;
}

.overlay.sticky{
    display: block;
    background-color: none;
    /* z-index: 999; */
    position: fixed;
    top: 0%;
    /* pointer-events: none; */
}

.home-icon {
    /* border: 1px solid var(--white); */
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem .5rem;
    cursor: pointer;
    
}
.links{
    /* margin-left: -30rem; */
    width: 82%;
    /* border: 1px solid var(--white); */
    z-index: 999;
}

.links ul{
    display: flex;
    /* border: 1px solid var(--white); */
    justify-content: flex-start;
}

.links ul li{
    list-style: none;
}

.links ul li a {
    /* margin-right: 2.8rem; */
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    padding: 1.5rem 1.5rem;
    /* margin-right: .18rem; */
}

.links ul li a:hover {
    transition: all 0.2s ease-in-out;
    background-color: var(--darkred);
}

.contact:hover{
    background-color: var(--darkwhite);
}


.hamburger {
    color: var(--white);
    font-size: 1.5rem;

}

.hidden{
    display: none;
}

.home-icon {
 
    padding: 1.8rem 1rem;
}


/* --------------------------featured news ----------------------------- */

#featured-news {
    display: flex;
    flex-direction: column;
    /* border: 1px solid var(--red); */
    margin-top: 4rem;
    
    
}


.top-news{
    padding: 3rem 0rem;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.09);
}


 .top-news h2{
    /* font-size: var(--h2); */
    font-style: normal;
    font-weight: 500;
    font-size: 3.75rem;
    line-height: 150%;
    /* or 90px */

    text-align: center;

    color: #000000;
    padding-right: 3rem;
    padding-left: 3rem;
    cursor: pointer;
    
}

.author-and-date{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 1rem 0;
    
    
}

.author{
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    color: var(--authorblack);
    /* cursor: pointer; */
}

.author i {
    font-size: 1.5rem;
}

.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8rem;
    /* border: 1px solid black; */
    color: var(--authorblack);

    /* cursor: pointer; */
}

.date i{
    font-size: 1.5rem;
}

.exceopt{
    padding-top: 1.125rem ;
    padding-right: 3rem;
    padding-left: 3rem;
    order: 4;
    cursor: pointer;
}

.featured-image {
    /* border: 1px solid red; */
    /* width: 30rem; */
    /* padding: 1.875rem 0; */
    /* padding-bottom: 0; */
    /* width: 100%; */
    max-height: 35rem;
    height: 35rem;
}

.featured-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.top-news:nth-child(2){
    margin-top: 4rem;
}

.ad-position-2{
    margin-top: 5rem;
    margin-bottom: 5rem;
    cursor: pointer;
}

.ad-position-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* border: 1px solid green; */
    max-height: 9rem;
}

/* -------------------category distribution------------- */

#category{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}



.category-title-block{
    display: flex;
    justify-content: space-between;
    max-width: 72%;
    align-items: center;
}

.category-title-block button{
    background-color: var(--red);
    color: var(--white);
    font-size: .8rem;
    padding: .5rem 1.3rem;
}

#category .category-title-block > p{
    color: var(--red);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
    position: relative;
}

#category .category-title-block> p::after{
    content: "";
    width: 73%;
    height: 2.5px;
    position: absolute;
    background-color: var(--red);
    bottom: 0;
    left: 0;
}

.news-category-block{
    display: flex;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.news {
    display: flex;
    max-width: 75%;
    flex-wrap: wrap;
    min-width: 50%;
}
.news-block {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    height: 253px;
    width: 33%;
    padding-right: 1.55rem;
    cursor: pointer;
}

.news-block:nth-child(4){
    display: none;
}

.news-block p{
    font-size: .9rem;
}

.news-block-image {
    width: 100%;
    height: 100%;
    position: relative;
    max-height: 12rem;
    /* border: 1px solid red; */
    margin-bottom: .6rem;
}

.category{
    position: absolute;
    width: 115px;
    height: 30px;
    right: 0;
    bottom: 0px;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.category span{
    font-size: .9rem;
}

.news-block-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news-block > .author-and-date{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin: 0 auto;
    padding: 0 .3rem;
    padding: 1rem 0;
    /* border: 1px solid red; */
    
}


#featured-news .author{
    width: 7rem;
}

.author{
    width: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    color: var(--authorblack);
    /* border: 1px solid red; */
}


#featured-news .date{
    width: 7rem;
}
.author p{
    font-size: .8rem;
}

.date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.5rem;
    /* border: 1px solid black; */
    color: var(--authorblack);
    /* border: 1px solid red; */
}

.date p{
    font-size: .8rem;
}

.news-block-ad{
    max-width: 25%;
    height: 300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


.ad-position-3 {
    width: 100%;
    height: 100%;
    cursor: pointer;
    max-height: 9rem;
}

.ad-position-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.ad-position-4{
    width: 100%;
    height: auto;
    cursor: pointer;
}


.ad-position-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#video-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
    /* border: 1px solid red; */
}

#video-section .category-title-block{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
}

#video-section .category-title-block button{
    background-color: var(--red);
    color: var(--white);
    font-size: .8rem;
    padding: .5rem 1.3rem;
}



#video-section .category-title-block  p{
    color: var(--red);
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
    position: relative;
}

#video-section .category-title-block>p::after{
    content: "";
    width: 100%;
    height: 2.5px;
    position: absolute;
    background-color: var(--red);
    bottom: 0;
    left: 0;
}

.videos{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid green; */
}

#video-section >.button-down{
    /* display: none; */
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    display: none;
}

#video-section >.button-down button{
    background-color: var(--red);
    color: var(--white);
    font-size: .8rem;
    padding: .5rem 1.3rem;
    border: none;
}

.vid{
    width: 380px;
    max-width: 380px;
    min-height: 280px;
    /* max-height: 300px; */
    margin-top: 2rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
}

.vid p{
    font-size: .9rem;
    text-align: left;
    padding: 1rem .5rem;
    min-height: 5rem;
}

.vid:nth-child(4){
    display: none;
   
} 

.videos iframe{
    width: 100%;
    height: 100%;
    /* min-height: 250px; */
}

#footer {
    display: flex;
    background-color: var(--darkwhite);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

#footer span {
    color: var(--red);
    position: relative;
}

#footer span::after{
    content: "";
    width: 100%;
    height: 2.5px;
    position: absolute;
    background-color: var(--red);
    top: 100%;
    left: 0;
}

.footer-links{
    display: flex;
    width: 23rem;
    /* border: 1px solid red; */
    justify-content: space-around;
}

.footer-links-category ul{
 padding-top: 2rem;
}

.footer-links-category li{
 list-style: none;
 text-transform: capitalize;
 line-height: 150%;
}

.footer-links-category li a{
 text-decoration: none;
 color: var(--black);
 line-height: 170%;
}

.footer-useful-links ul{
    padding-top: 2rem;
}

.footer-useful-links li{
    list-style: none;
    text-transform: capitalize;
    line-height: 150%;
}
.footer-useful-links li a{
    text-decoration: none;
    color: var(--black);
    line-height: 170%;
}


.footer-share{
    display: flex;
    flex-direction: column;
    width: 27rem;
    /* border: 1px solid red; */
    align-items: center;
}

.footer-share .footer-logo{
    width: 16.063rem;
    height: 5.625rem;
}

.footer-share .footer-logo img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.footer-share-icons{
    display: flex;
    width: 40%;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 1.5rem;
}

.footer-share-icons i{
    font-size: 2.5rem;
}

.footer-details{
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

#footer .footer-details > span::after{
    content: "";
    width: 30%;
    height: 2.5px;
    position: absolute;
    background-color: var(--red);
    top: 100%;
    left: 0;
}


.footer-details ul{
    list-style: none;
    padding-top: 2rem;
}
.footer-details ul li{
    list-style: none;
}
.footer-details ul li i{
    list-style: none;
    padding-right: .8rem;
}

.footer-details p{
    padding-right: .8rem;
}

.footer-details ul li a{
    display: flex;
    text-decoration: none;
    color: var(--black);
    align-items: center;
    width: 100%;
    /* border: 1px solid green; */
    /* justify-content: space-between; */
    line-height: 170%;
   
}

#copyright{
    background-color: var(--red);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .6rem 0;
    font-size: .8rem;
}

#copyright span{
    cursor: pointer;
}


















/* ----------------responsive home page------------------- */
@media (max-width: 1450px){
    .margin {
        margin: 0px 3rem;
    }

    .padding{
        padding: 0rem 3rem;
    }

    .news {
        max-width: 100%;
        flex-wrap: wrap;
        min-width: 50%;
        display: flex;
        justify-content: space-between;
    }

    .news-block:nth-child(4){
        display: block;
    }

    .news-block p {
        font-size: .9rem;
        padding: 0 1rem;
        text-align: center;
    }

    .home-icon {
        padding: 1.8rem 1rem;
    }

    .button {
        padding: .8rem 1.6rem;
        width: 10rem;
    }
    
    .date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 7.7rem;
        /* border: 1px solid black; */
        color: var(--authorblack);
        /* border: 1px solid red; */
    }
    
    .author {
        width: 7.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black; */
        color: var(--authorblack);
        /* border: 1px solid red; */
    }

    #category > p::after {
        width: 100%;
        
    }

    #navigation.sticky {
    width: 100%;
    display: flex;
    height: 3.5rem;
    padding: 1rem 1rem;
    
    }

    .top-news h2 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 2.75rem;
    }

    .exceopt {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.4rem;
    }

    .ad-position-2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }


    .news-block-ad {
        max-width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
    }


    .ad-position-3 {
        width: 49%;
        height: 10rem;
        /* margin-bottom: 2rem; */
        max-height: 15rem;
    }

    .ad-position-4 {
        width: 49%;
        height: 10rem;
        /* margin-bottom: 2rem; */
        max-height: 15rem;
    }

    .category-title-block {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        align-items: center;
    }

    .category-title-block button{
        display: block;
        width: 7rem;
    }
    
    
    
    .news-block {
        width: 49%;
        height: auto;
        padding-right: 0;
        background-color: var(--darkwhite);
        margin-bottom: 1.5rem;
    }

    .news-block-image {
        width: 100%;
        height: 100%;
        position: relative;
        max-height: 20rem;
        /* border: 1px solid red; */
        margin-bottom: .6rem;
    }

    .news-block > iframe {
        width: 100%;
        height: 15rem;
    }
    
    .news-category-block {
        display: flex;
        margin-top: 3rem;
        flex-wrap: wrap;
    }

    .date p {
        font-size: 1rem;
    }
    
    .author p {
        font-size: 1rem;
    }
    
    .news-block p {
        font-size: 1.4rem;
        padding: 1rem 1rem;
        text-align: center;
    }
    
    .author {
        width: 11rem;
     
    }
    
    .date {
    
        width: 11rem;
        
    }

    .vid {
        width: 360px;
        max-width: 380px;
        height: 230px;
        margin-top: 2rem;
        /* border: 1px solid black; */
    }
    
    
    

}

@media (max-width: 1200px){
    .margin {
        margin: 0px 3rem;
    }

    .padding{
        padding: 0rem 3rem;
    }

    .news-block p {
        font-size: .9rem;
        padding: 0 1rem;
        text-align: center;
    }

    .home-icon {
        padding: 1.8rem 1rem;
    }

    .button {
        padding: .8rem 1.6rem;
        width: 10rem;
    }
    
    .date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 7.7rem;
        /* border: 1px solid black; */
        color: var(--authorblack);
        /* border: 1px solid red; */
    }
    
    .author {
        width: 7.7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black; */
        color: var(--authorblack);
        /* border: 1px solid red; */
    }

    #category > p::after {
        width: 100%;
        
    }

    #navigation.sticky {
    width: 100%;
    display: flex;
    height: 3.5rem;
    padding: 1rem 1rem;
    
    }

    .top-news h2 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 2.75rem;
    }

    .exceopt {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.4rem;
    }

    .ad-position-2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    
    .news-block {
        width: 49%;
        height: auto;
        padding-right: 0;
        background-color: var(--darkwhite);
        margin-bottom: 1.5rem;
    }

    .news-block:nth-child(4){
        display: flex;
    }

    .news-block > iframe {
        width: 100%;
        height: 15rem;
    }
    
    .news-category-block {
        display: flex;
        margin-top: 3rem;
        flex-wrap: wrap;
    }

    .date p {
        font-size: 1rem;
    }
    
    .author p {
        font-size: 1rem;
    }
    
    .news-block p {
        font-size: 1.2rem;
        padding: 1rem 1rem;
        text-align: center;
    }
    
    .author {
        width: 11rem;
     
    }
    
    .date {
    
        width: 11rem;
        
    }

    .category {
        width: 150px;
        height: 50px;
    }

    .category span {
        font-size: 1.2rem;
    }

    .footer-links {
        display: flex;
        width: 30%;
        /* border: 1px solid red; */
        justify-content: space-around;
    }

    .footer-share {
        display: flex;
        flex-direction: column;
        width: 40%;
        /* border: 1px solid red; */
        align-items: center;
    }

    .footer-details {
        display: flex;
        flex-direction: column;
        width: 35%;
        padding-right: 1.3rem;
        padding-left: 1.3rem;
    }
    
}

@media (max-width: 992px){
    .margin {
        margin: 0px 3rem;
    }

    .padding{
        padding: 0rem 3rem;
    }

   

    .home-icon {
        padding: 1.8rem 1rem;
    }

    .button {
        padding: .5rem 1.6rem;
        width: 9rem;
    }

    .date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 9rem;
        /* border: 1px solid black; */
        color: var(--authorblack);
        /* border: 1px solid red; */
    }
    
    .author {
        width: 9rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid black; */
        color: var(--authorblack);
        /* border: 1px solid red; */
    }

    #category > p::after {
        width: 100%;
        
    }

    #navigation.sticky {
    width: 100%;
    display: flex;
    height: 3.5rem;
    padding: 1rem 1rem;
    
    }

    .top-news h2 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 2.75rem;
    }

    .exceopt {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1.4rem;
    }

    .top-news {
        padding: 3rem 0rem;
        /* box-shadow: none; */
    }

    .ad-position-2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .news {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .news-block p {
        font-size: 1.1rem;
        padding: 0 1rem;
        text-align: center;
    }

    .news-block > iframe {
        width: 100%;
        height: 15rem;
    }

    .news-category-block {
        display: flex;
        margin-top: 3rem;
        flex-wrap: wrap;
    }


    .videos{
        flex-wrap: wrap;
    }

    .vid{
        max-width: 50%;
        width: 49%;
        
    }

    .vid:nth-child(4){
        display: flex;
    } 
    
    
    
    #footer {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .footer-links {
        width: 70%;
        order: 2;
        margin-bottom: 2rem;
        /* border: 1px solid black; */
       
    }

    .footer-share {
        width: 100%;
        margin: 2rem 0rem;
        order: 1;
    }

    .footer-share-icons {
        width: 25%;
    }

    .footer-details {
        width: 80%;
        order: 3;
        padding-left: 8.7rem;
        padding-right: 0;
    }


    #footer span {
        display: flex;
        justify-content: flex-start;
        width: 82%;
    }

    #footer .footer-details > span::after {   
        width: 15%;
    }

    #copyright {
        padding: .6rem 2.5rem;
        text-align: center;
    }

}


@media (max-width: 768px) {
    .margin{
        margin: 0rem 2rem;
    }
    .padding{
        padding: 0rem 2rem;
    }

    #header-top {
        justify-content: center;
        flex-wrap: wrap;
    }

    .ad-position-1 {
        width: 100%;
        height: auto;
    }

    .hidden{
        display: block;
    }

    .button{
        display: none;
    }

    .active {
        background-color: none;
    }
    
    .home-icon {
        padding: 1.28rem 1rem;
    }


    #navigation{
        justify-content: space-between;
        position: sticky;
        top: 0%;
        overflow: visible;
    }

    #navigation.sticky{
        width: 100%;
        display: flex;
        height: 4.5rem;
        padding: 1rem 1rem;
        position: sticky;
        transition: 0.4s all ease-in-out;
        z-index: 999;
        position: sticky;
        top: 0;
    }

    .links{
        position: absolute;
        background-color: var(--red);
        color: var(--white);
        width: 100%;
        /* height: 300px; */
        /* border: 1px solid black ; */
        /* bottom: 500%; */
        top: 0;
        left: 0%;
        line-height: 170%;
        text-align: center;
        padding: 3rem 0;
        transform: translateY(-150vh);
        transition: all 0.4s ease-in-out;
    }

    .links ul{
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        /* display: none; */
        
    }

    .links.sticky{
        transform: translateY(0vh);
        position: fixed;
        transition: 0.4s all ease-in-out;
    }
    
    .links ul li{
        list-style: none;
        margin-bottom: 1rem;
    }

    .links ul li a {
        /* margin-right: 2.8rem; */
        color: var(--white);
        text-decoration: none;
        font-size: 1rem;
        padding: 1.5rem 1.5rem;
        /* margin-right: .18rem; */
    }

    .hamburger{
        display: block;
    }

    .top-news h2 {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 2.3rem;
    }

    .exceopt {
        padding-top: 1rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 1rem;
    }

    #category > p {
        font-size: 1.3rem;
    }

    .news-category-block {
        flex-direction: column;
    }
    /* .news {
        flex-direction: column;
    } */

    .news-block {
        border-radius: 3px;
    }

    .news-block-ad {
        width: 100%;
        height: auto;
    }

    .ad-position-2 {
        /* margin-top: 5rem; */
        margin-bottom: 2rem;
    }

    .news-block > iframe {
        width: 100%;
        height: 15rem;
    }

   

}

@media all and (max-width: 475px) {

    .margin{
        margin: 0rem 1rem;
    }
    .padding{
        padding: 0rem 1rem;
    }

    #header-top {
        justify-content: center;
        flex-wrap: wrap;
    }

    .ad-position-1 {
        width: 100%;
        height: auto;
    }

    .hidden{
        display: block;
    }

    .button{
        display: none;
    }

    .active {
        background-color: none;
    }

    .ad-position-1 {
        width: 100%;
        height: auto;
    }

    .hidden{
        display: block;
    }

    .button{
        display: none;
    }

    .active {
        background-color: none;
    }

    #featured-news {
        margin-top: 3rem;
    }

    .top-news h2 {

        font-size: 1rem;
    }

    .author-and-date {
        width: 15rem;
    }
    #featured-news .author i{
      font-size: 1rem;
    }
    #featured-new .date i{
      font-size: 1rem;
    }

    .top-news{
        box-shadow: 0px 4px 40px rgb(0 0 0 / 4%);
        margin-bottom: 2rem;
    }

    .top-news h2 {
       
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .exceopt {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .featured-image {
        padding: 1rem 0;
        height: 15rem;
    }

    .top-news:nth-child(2) {
        margin-top: 0rem;
    }

    #category > p {
        margin-top: 2rem;
    }

    #category > p::after {  
        width: 100%;
    }


   

    .ad-position-2 {
        /* margin-top: 5rem; */
        margin-bottom: 2rem;
    }

    .news-category-block {
        flex-direction: column;
    }
    .news {
        flex-direction: column;
    }

    .news-block {
        width: 100%;
        height: auto;
        padding-right: 0;
        background-color: var(--darkwhite);
        margin-bottom: 1.5rem;
       
    }

    .news-block p{
        padding: 0 1rem;
    }


    .news-block-image {
        width: 100%;
        height: 15rem;
        position: relative;
        max-height: 16rem;
        /* border: 1px solid red; */
        margin-bottom: .6rem;
    }

    .category span {
        font-size: .8rem;
    }

    .category {
        width: 6.25rem;
        height: 1.875rem;
    }

    .news-block-ad {
        width: 100%;
        height: 100%;
    }

    .news-block > iframe {
        width: 100%;
        height: 100%;
    }
    

    .news-block-ad {
        flex-direction: column;
    }

    .ad-position-3 {
        width: 100%;
        height: 9rem;

        margin-bottom: 1rem;

    }
    .ad-position-4 {
        width: 100%;
        height: 9rem;

    }

    .videos {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .vid {
        max-width: 100%;
        width: 100%;
       
    }


    #video-section >.button-down{
        display: flex;
    }

    #video-section .button{
        display: none;
    }

    #footer {
        flex-direction: column;
    }

    .footer-links {
        width: 100%;
        order: 2;
        margin-bottom: 2rem;
       justify-content: space-between;
       /* border: 1px solid red; */
       width: 70%;
    }

    .footer-share {
        width: 100%;
        margin: 2rem 0rem;
        order: 1;
    }

    .footer-share-icons {
        width: 50%;
    }

    .footer-details {
        width: 70%;
        order: 3;
        padding-left: 0;
        padding-right: 0;
    }
}